body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px 0px 0px 50px;
  font-size: 50px;
  font-weight: 200;
}

#gallery {
  margin: 0px auto;
  width: 1000px;
}

#photo-viewer {
  display: flex;
  margin-top: 50px;
}

#photo-with-descr {
  position: relative;
  height: 600px;
}

.text-box {
  background-color: rgb(64, 64, 64, 0.6);
  color: whitesmoke;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.chosen-photo {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.title,
.description {
  margin: 5px;
  padding: 20px;
}

.description {
  font-weight: 200;
  font-size: 20px;
}

.arrow {
  width: 60px;
  padding: 20px;
}

.right {
  transform: rotate(0.5turn);
}

.nav-left,
.nav-right {
  width: 70px;
  background-color: #1a5c71;
  opacity: 0.6;
  border-radius: 10px;
  display: flex;
}

.nav-left:hover,
.nav-right:hover,
.thumbnail:hover {
  cursor: pointer;
}

.arrow:hover {
  filter: invert(0.5) sepia(1);
}

#thumbnail-container {
  padding: 60px;
  display: flex;
  justify-content: center;
  /* for thumb-title: */
  position: relative;
}

.thumbImage {
  width: 50px;
  height: 50px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: grey solid 5px;
  border-radius: 5px;
  box-shadow: grey 5px 10px 8px;
}

.thumb-title {
  display: none;
  background-color: gray;
  color: whitesmoke;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  border: grey 1px solid;
  border-radius: 3px;
  position: absolute;
  top: 25px;
}

.thumbnail:hover .thumb-title {
  display: block;
}

.active {
  box-shadow: black 5px 10px 8px;
  width: 55px;
  height: 55px;
}

.activeThumbPhoto {
  width: 55px;
  height: 55px;
}
