body {
  font-family: 'Lato', sans-serif;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage,
.create {
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container,
.form-container {
  padding: 10px 55px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 450px;
}

form {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.question:last-child {
  border: none;
}

.question p {
  font-size: 0.8em;
  padding-right: 20px;
}

.delete {
  color: red;
}

[type='text'] {
  width: 340px;
  margin-bottom: 20px;
}

#newQuestion {
  width: 100%;
}

form div {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

button {
  border: none;
  background-color: #4c9cde;
  color: #fff;
  padding: 5px 20px;
  width: 80px;
}

button:hover {
  cursor: pointer;
}

a {
  font-size: 0.7em;
  text-decoration: none;
  color: #4c9cde;
}
