body {
  height: 90vh;
}

.container {
  border: 1px solid black;
  height: 70%;
  display: grid;
  gap: 5px;
  grid-template-areas:
    'header header header header header header header header'
    '. aside aside main main main main .'
    '. aside aside main main main main .'
    '. aside aside main main main main .'
    '. footer footer footer footer footer footer .';
  grid-template-rows: 70px auto auto auto 60px;
}

header {
  grid-area: header;
  background-color: #b02aff;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

aside {
  grid-area: aside;
  background-color: #51d401;
}

main {
  grid-area: main;
  background-color: #ffd629;
}

footer {
  grid-area: footer;
  background-color: #cccccc;
}

.nav {
  background-color: #2aeaff;
  grid-row: 2;
}
