.item {
  height: 150px;
}

.green {
  background-color: #51d401;
  flex-grow: 1;
  order: 2;
}

.yellow {
  background-color: #ffd629;
  flex-grow: 2;
  order: 1;
}

.purple {
  background-color: #b02aff;
  flex-grow: 1;
}

.container {
  display: flex;
  width: 100%;
}
