body {
  font-family: 'M PLUS 1', sans-serif;
  width: 380px;
  margin: 30px auto;
  border: 1px solid black;
}

h1 {
  margin: 25px 20px;
  font-size: 20px;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

input {
  padding: 15px;
  width: 300px;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
}

input[type='password'] {
  background: url(asset/open-eye.png) no-repeat;
  background-position: right 7px bottom 7px;
  background-size: 8%;
}

input:focus {
  outline: 0;
  border-color: #8bae83;
}

div {
  margin: 20px;
}

p {
  font-size: 0.7em;
  float: right;
  margin-right: 10px;
}

p:hover,
button:hover {
  cursor: pointer;
}

button {
  margin: 40px 20px;
  font-size: 15px;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background-color: #333333;
  color: #fff;
}
